RewriteEngine On    # Turn on the rewriting engine
RewriteBase /~sven337/
RewriteRule	^feed\.xml$	 /~sven337/feeds/feed.xml	[R=301,NC,L]
RewriteRule ^/feeds/feed.category.xml$ /~sven337/feeds/feed.xml [R=301,NC,L]
RewriteRule ^/francais/2014/06/15/Mon-ecran-plat-est-en-panne--Comment-le-reparer-.html$ /~sven337/francais/2014/06/15/Mon-ecran-plat-est-en-panne-Comment-le-reparer.html [R=301,NC,L]
RewriteRule ^/english/2014/03/18/gas-meter-monitoring-wireless-battery-arduino.html$ /~sven337/english/2014/03/18/Gas-meter-monitoring-wireless-battery-arduino.html [R=301,NC,L]
RewriteRule ^/francais/2014/03/07/entree-aux-sur-toyota-yaris.html$ /~sven337/francais/2014/03/07/Entree-aux-sur-Toyota-Yaris.html [R=301,NC,L]
RewriteRule ^/francais/2014/11/04/Eclairage-decoratif-LED-avec-detection-presence.html$ /~sven337/francais/2014/11/04/Eclairage-escalier-LED-avec-detection-presence.html [R=301,NC,L]
RewriteRule ^/francais/2014/03/09/suivi-de-consommation-elec-avec-r-pi.html$ /~sven337/francais/2014/03/09/Suivi-de-consommation-elec-avec-R-Pi.html [R=301,NC,L]
RewriteRule ^/francais/2014/11/04/eclairage-escalier-led-avec-detection-presence.html$ /~sven337/francais/2014/11/04/Eclairage-escalier-LED-avec-detection-presence.html [R=301,NC,L]
RewriteRule ^/francais/2014/08/11/reparation-four-seb-delice-turbo-of265800.html$ /~sven337/francais/2014/08/11/Reparation-four-Seb-delice-turbo-OF265800.html [R=301,NC,L]
RewriteRule ^/francais/2014/03/06/ingenierie-inverse-citroen-rt6.html$ /~sven337/francais/2014/03/06/ingenierie-inverse-Citroen-RT6.html [R=301,NC,L]
RewriteRule ^/francais/2014/03/05/ingenierie-inverse-Citroen-RT6.html$ /~sven337/francais/2014/03/06/ingenierie-inverse-Citroen-RT6.html [R=301,NC,L]
RewriteRule ^/english/2014/03/07/aux-input-on-toyota-yaris-w58824.html$ /~sven337/english/2014/03/07/aux-input-on-Toyota-Yaris-W58824.html [R=301,NC,L]
RewriteRule ^/francais/2014/07/05/La-loi-est-ecrite-par-un-consultant-J2EE-bourre---PACS.html$ /~sven337/francais/2014/07/05/La-loi-est-ecrite-par-un-consultant-J2EE-bourre-PACS.html [R=301,NC,L]
RewriteRule ^/francais/2015/03/18/-La-loi-est-ecrite-par-un-consultant-J2EE-bourre---episode-3--la-rupture-conventionnelle-du-contrat-de-travail.html$ /~sven337/francais/2015/03/18/La-loi-est-ecrite-par-un-consultant-J2EE-bourre-episode-3-la-rupture-conventionnelle-du-contrat-de-travail.html [R=301,NC,L]
RewriteRule ^/english/2015/01/26/thoughts-on-xilence-xpxq-1000r4-computer-power-supply-unit.html$ /~sven337/english/2015/01/26/Thoughts-on-Xilence-XPXQ-1000R4-computer-power-supply-unit.html [R=301,NC,L]
RewriteRule ^/english/2015/11/16/Use-a-single-NiMH-cell-in-a-2--or-3-battery-bike-LED-lamp.html$ /~sven337/english/2015/11/16/Use-a-single-NiMH-cell-in-a-2-or-3-battery-bike-LED-lamp.html [R=301,NC,L]
RewriteRule ^/francais/2015/11/07/Lentreprise-dysfonctionnelle--incompetence-ordinaire.html$ /~sven337/francais/2015/11/07/Lentreprise-dysfonctionnelle-incompetence-ordinaire.html [R=301,NC,L]
