<!DOCTYPE html>
<html>
    <head>
        <meta charset="iso-8859-15">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/~sven337/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/~sven337/css/main.css">

		<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/~sven337">{{ site.name }}</a></h1>
<!--            <a class="extra" href="/~sven337">home</a>-->
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Sven337<br />
                
                <br />
				e5d0ceda@opayq.com
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
