---
layout: default
---
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<link rel="stylesheet" href="/~sven337/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/~sven337/fancybox/jquery.fancybox.pack.js"></script>
<h1 class="pagetitle">{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content | slideshows }}
</div>


{% if page.disqus_comment_thread %}
<h1 id="disqus_comments">Old comments from Disqus</h1>
{% assign comments = site.data.disqus_comments[page.disqus_comment_thread] %}
{% include comments.html comments=comments %}
{% endif %}

{% if page.comments %}
<!-- Remarkbox - Your readers want to communicate with you -->
<div id="remarkbox-div">
  <noscript>
    <iframe id=remarkbox-iframe src="https://my.remarkbox.com/embed?nojs=true" style="height:600px;width:100%;border:none!important" tabindex=0></iframe>
  </noscript>
</div>
<script src="https://my.remarkbox.com/static/js/iframe-resizer/iframeResizer.min.js"></script>
<script>
  var rb_owner_key = "43d265d7-47f2-11ea-8c5a-040140774501";
  var thread_uri = window.location.href;
  var thread_comment_key = '{{ page.comments }}';
  var thread_title = window.document.title;
  var thread_fragment = window.location.hash;

  // rb owner was here.
  var rb_src = "https://my.remarkbox.com/embed" +
      "?rb_owner_key=" + rb_owner_key +
      "&thread_title=" + encodeURI(thread_title) +
      "&thread_uri=" + thread_comment_key;
/*      "&thread_uri=" + encodeURIComponent(thread_uri) +
      thread_fragment;*/

  function create_remarkbox_iframe() {
    var ifrm = document.createElement("iframe");
    ifrm.setAttribute("id", "remarkbox-iframe");
    ifrm.setAttribute("scrolling", "no");
    ifrm.setAttribute("src", rb_src);
    ifrm.setAttribute("frameborder", "0");
    ifrm.setAttribute("tabindex", "0");
    ifrm.setAttribute("title", "Remarkbox");
    ifrm.style.width = "100%";
    document.getElementById("remarkbox-div").appendChild(ifrm);
  }
  create_remarkbox_iframe();
  iFrameResize(
    {
      checkOrigin: ["https://my.remarkbox.com"],
      inPageLinks: true,
      initCallback: function(e) {e.iFrameResizer.moveToAnchor(thread_fragment)}
    },
    document.getElementById("remarkbox-iframe")
  );
</script>
{% endif %}
