---
layout: default
---
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<link rel="stylesheet" href="/~sven337/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/~sven337/fancybox/jquery.fancybox.pack.js"></script>
<h1 class="pagetitle">{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content | slideshows }}
</div>


{% if page.disqus_comment_thread %}
<h1>Old comments from Disqus</h1>
{% assign comments = site.data.disqus_comments[page.disqus_comment_thread] %}
{% include comments.html comments=comments %}
{% endif %}

{% unless page.no-comments %}
<h2>E-mail sven337 for comments...</h2>
{% endunless %}
